<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet" />
  <style>
    * {
      font-family: "Outfit", serif;
    }

    body {
      background-color: rgb(39 39 42);
    }
  </style>
  <title>Dashboard</title>
</head>

<body class="w-screen h-screen overflow-auto">
  <div class="w-full h-full flex justify-center items-start">
    <div class="w-[430px] min-h-screen bg-[#FDFBD4] p-4 relative">
      <div class="w-full flex justify-between items-end gap-4">
        <a href="/user/settings" class="w-[40px] h-[40px] border-2 rounded-md flex justify-center items-center text-xl">
          <%= name %>
        </a>
        <form action="/user/logout" method="post">
          <button type="submit"
            class="cursor-pointer flex m-auto py-2 px-3 text-white bg-red-500 border-2 border-black hover:shadow-xl rounded-sm outline-0">
            Logout
          </button>
        </form>
      </div>

      <div class="w-full flex flex-col gap-4 mt-10">
        <!-- Add expenses here -->
        <% expenses.reverse().map((expense)=> { %>
          <div class="w-full h-[110px] flex py-1 px-2 bg-yellow-300 border-2 rounded-sm outline-0">
            <div class="w-full flex flex-col gap-2">
              <div class="w-full flex justify-between text-center">
                <p class="text-lg">Name : <%= expense.expenseName %>
                </p>
                <p>
                  <%= expense.expenseCreatedAt %>
                </p>
              </div>
              <div class="flex justify-between">
                <div class="flex flex-col gap-2">
                  <p>Category : <%= expense.category %>
                  </p>
                  <p>Amount : <%= expense.amount %> ₹
                  </p>
                </div>
                <form action="/user/delete/<%= expense.id %>" method="post" class="flex items-end">
                  <button type="submit" class="cursor-pointer">
                    <img src="/images/delete.png" width="32">
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% }) %>

      </div>

      <div class="absolute bottom-4 right-4 z-50">
        <a href="/user/add-your-expense"
          class="w-14 h-14 text-white text-sm rounded-full shadow-lg flex items-center justify-center">
          <img src="/images/add.png" alt="Add" />
        </a>
      </div>

    </div>
  </div>
</body>

</html>